<h1>Work index</h1>
<table class="table">
<tr>
    <th>Work id</th>
    <th>Work project</th>
    <th>View Details</th>
</tr>
<% @works.each do |work| %>

<tr>
    <td><%= work.id %></td>
    <td><%= work.project.project_name %></td>
    <td><%= link_to "View Details",work %></td>
</tr>
<% end %>
</table>

<%= link_to "Work Home",works_path %>
<%= link_to "New Work",works_new_path %>
