 <% if current_user.admin!=true %>
 <% flash[:notice]="You nee to have admin priveledges to edit user!" %>
 <script>
 window.location="\\users";
 </script>
 <%else %>
<div class="container">
<h1>Edit User</h1>
<%= form_for(@user) do |f|%>
<div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name,class:"form-control" %>
</div>
<div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name,class:"form-control" %>
</div>
<div class="form-group">
    <%= f.label :company_id %>
    <%= f.collection_select(:company_id,Company.all,:id,:name,{:class=>"form-control"}) %>
</div>
<div>
    <%= f.submit "Update User",class:"btn btn-primary" %>
</div>
<% end %>
</div>
<%end%>