<h1>New User</h1>
<%= form_for(@user) do |u| %>
<div>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
</div>
<div>
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
</div>
<%= u.label :company_id %>
<%= u.collection_select(:company_id,Company.all,:id,:name) %>

<div>
   <%= u.label :project_id %>
   <%= u.collection_select(:project_id,Project.all,:id,:project_name) %>
</div>
<div>
    <%= u.label :work_id %>
    <%= u.collection_select(:work_id,Work.all,:id,:date_performed) %>
</div>
<div>
    <%= u.submit "New User" %>
</div>
<% end %>
<%= link_to "User Home",users_path %>