<h1>New User</h1>
<%= form_for(@user) do |u| %>
<div>
    <%= u.label :first_name %>
    <%= u.text_field :first_name %>
</div>
<div>
    <%= u.label :last_name %>
    <%= u.text_field :last_name %>
</div>
<div>
<%= u.label :company_id %>
<%= u.collection_select(:company_id,Company.all,:id,:name) %>
</div>
<div>
    <%= u.submit "New User" %>
</div>
<% end %>
<%= link_to "User Home",users_path %>