 <% if current_user.admin!=true %>
 <% flash[:notice]="You nee to have admin priveledges to add new user!" %>
 <script>
 window.location="\\users";
 </script>
 <%else%>
 <div class="container">
    <% if @user.errors.any? %>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li class="alert alert-danger"><%= msg %></li>
        </ul>
        <% end %>
    <% end %>
</div>
<div class="container">
<h1>New User</h1>
<%= form_for(@user) do |u| %>
<div class="form-group">
    <%= u.label :first_name %>
    <%= u.text_field :first_name,class:"form-control" %>
</div>
<div class="form-group">
    <%= u.label :last_name %>
    <%= u.text_field :last_name,class:"form-control" %>
</div>
<div class="form-group">
<%= u.label :company_id %>
<%= u.collection_select(:company_id,Company.all,:id,:name,{:class=>"form-control"}) %>
</div>

<div class="form-group">
    <%= u.submit "New User",class:"btn btn-primary" %>
</div>
<% end %>

<%= link_to "User Home",users_path %>
</div>
<% end %>