<div class="container">
<h1>Project Edit </h1>
<%= form_for(@project) do |p|%>
<br>
<div class="form-group">
    <%= p.label :project_name %>
    <%= p.text_field :project_name,class:"form-control" %>
</div>
<div class="form-group">
    <%= p.label :company_id %>
    <%= p.collection_select(:company_id,Company.all,:id,:name,{prompt: true},{:class=>'form-control'}) %>
</div>
<div class="form-group">
    <%= p.label :default_rate %>
    <%= p.text_field :default_rate,class:"form-control" %>
</div>

<div class="form-group">
    <%= p.submit "Edit Project",class:"btn  btn-primary" %>
</div>
<% end %>
<%= link_to "Projects Home",projects_path %>
</div>