<h1>Companies index</h1>

<table class="table">
<tr>
    <th>Company Id</th>
    <th>Company Name</th>
    <th>View Details</th>  
    <th>Edit Details</th>  
    <th>Delete Company</th>
</tr>

<% @company.each do |company| %>
    <tr>   
        <td><%= company.id %> 
        <td><%= company.name %></td>
        <td><%= link_to  "View Details",company %></td>
        <td><%=  link_to "Edit",edit_company_path(company.id)
        %></td>
        <td><%= link_to "Delete", company_delete_path(company.id), method: :delete, data: {confirm: "You sure you want to delete the company ?"} %></td>
    </tr>
<% end %>
</table><br>
<%= link_to "Company Home",companies_path %>
<%= link_to "Company New",companies_new_path %>

<aside>
    <%= render partial:"sidebar" %> 
</aside>

