
#to set if flash condition
<% if current_user.admin!=true %>
<% flash[:alert]="You need admin priviledges to create new company!" %>
<script>
redirect_to("\\companies");
</script>
<% else %>
<%= flash[:notice] %>

	<% if @company.errors.any? %>
		<div id="errors">
			<p>Please correct the following <%= pluralize(@company.errors.count, "error") %>:</p>
			<ul>
				<% @company.errors.full_messages.each do |msg| %>
					<li ><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="container">
<%= form_for(@company) do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name,class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.submit "Create Company",class: "btn btn-primary" %>
	</div>
<% end %>
</div>
<%= link_to "Company Home",companies_path %>
<%end%>