<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= ################# 
%>

    <%= render partial:'layouts/header' %>
    <div class="lead">
    <% if notice %>
       <div class="notice" onclick="notify()" id="notification"><%= notice  %> 
       <%= image_tag("close.png",:alt=>"close button",:width=>20, :height=>20) %></div>
    <% end %>
    <% if alert %>
       <div class="alert" onclick="notify()" id="notification"><%= alert  %> <%= image_tag("close.png",:alt=>"close button",:width=>20, :height=>20) %></div>
    <% end %>
       </div>
    <section id="main">
    
		<article>
      <%
      #[:notice, :alert].each do |level| 
        %>
        <% 
        #if flash[level]
           %>
        <div class="flash <%= #level 
        %>"><%= #flash[level]  #notice and alert and flash
       
          %></div>  
        <% # end %>
        <% #end 
            %>
			<%= yield %>
		</article>
		
	</section>
    <aside>
        <%= yield :aside %>
    </aside>    
</div>


  <footer>
    <br>
    <p style="color:white;"><b>Time Tracker is a <em>Sample Company</em> App</b></p>
  </footer>

</body>
</html>