<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
 <%= link_to content_tag('canvas', 'TimeTracker', id: 'logocanvas'), root_url %>
  <nav class="navbar navbar-light"> 
    
    <div class="navbar-brand">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><%= link_to "Home",root_path %></li>
        <li><%= link_to "Project",project_index_path %></li>
        <li><%= link_to "Work",work_index_path %></li>
        <li><%= link_to "User",user_index_path %></li>
           <li><%= link_to "Company",company_index_path %></li>
    </ul>
    </div>
    </header>
    <section id="main">
		<article>
			<% [:notice, :alert].each do |level| %>
				<% if flash[level] %>
					<div class="flash <%= level %>"><%= flash[level] %></div>
				<% end %>
		    <% end %>
			<%= yield %>
		</article>
		
	</section>
	<footer>
    <p><u>Time Tracker is a <em>Sample Company</em> App</u></p>
	</footer>
</div>
</body>
</html>